<aside class="sidebar__right sticky">
  <div class="right-sidebar-group">
    <h3 class="right-sidebar-title"><i class="fa fa-building" aria-hidden="true"></i> Offices</h3>
    <p><strong>Main Office:</strong> Room T111, Trojanova 13, Praha 2</p>
    <p><strong>Secondary Office:</strong> Room 101, Dolejškova 3, Prague 8 (on Wednesdays)</p>
  </div>

  <div class="right-sidebar-group">
    <h3 class="right-sidebar-title"><i class="fa fa-users" aria-hidden="true"></i> Member of</h3>
    <ul class="right-list">
      <li><a href="https://mmg.fjfi.cvut.cz/mmg/">Mathematical Modelling Group (MMG)</a></li>
      <li><a href="https://www.linkedin.com/showcase/medical-physics-ctu/">Medical Physics and Computational Science Research Group (MPCS)</a></li>
    </ul>
  </div>
</aside>
